#nav{
    background-color:#cbc0d3;
    padding: 50px; 
    font-size: 2em;
    text-align: center;
}

#nav > a {
    color:black;
}

.jumbotron{
    background-color: white
}

h1,h2{
    text-align: center;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color:#dee2ff;
}

#carouselmain{
    width:900px;
    margin: auto;
}

#social{
    text-align: center;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }



  .form-group{
    border-style: solid;
    border-width: 3px;
    border-color: #8e9aaf;
    width: 800px;
    height: 500px;
    padding: 10px;
    margin: auto;
  }

  input{
    width: 700px;
    height:50px;
    text-align:center;
  }

#messagebox{
    width: 100%;
}
  footer{
      background: #cbc0d3;
      padding: 50px; 
      
  }

  /* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

