#nav{
    background-color:gray;
    padding: 10px;
}

#nav > a {
    color:black;
}

.jumbotron{
    background-color: white
}

h1,h2{
    text-align: center;
}


body {
    font-family: "Open Sans", sans-serif;
}

#carouselmain{
    width:900px;
    margin: auto;
}

#social{
    text-align: center;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }